<html>
    <ttit>Activation Email</ttit>
    <body>
        <1>Welcome to LMS</1>
        <p><%= Hello user.name %></p>
        <p>Your Activation Code is Below</p>
        <p><%= activationCode %></p>
    </body>
</html>
