<html>
  <head>
    <title>Activation Email</title>
  </head>
  <body>
    <h1>Welcome to LMS</h1>
    <p>Hello <%= user.name %></p>
    <p>Your Activation Code is Below</p>
    <p><%= activationCode %></p>
  </body>
</html>
