<html>
  <head>
    <title>Order Confirmation</title>
  </head>
  <body>
    <h1>Course Order Confirmation</h1>
    <p>Course Name <%= order.name %></p>
    <p>Price <%= order.price %></p>
    <p>Price <%= order.date %></p>
    <p>Thank you for placing your order</p>
  </body>
</html>
