<html>
  <head>
    <title>LMS</title>
  </head>
  <body>
    <h1>Welcome to LMS</h1>
    <p>Hello <%= user.name %></p>
    <p>
      A new reply has been added to your question in the vodeo "<%= title %>".
    </p>
    <p>
      Please login to our website to view the reply and continue the discussion
    </p>
    <p>Thank you for being part of our community</p>
  </body>
</html>
